.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 600px;
    background: #FFFFFF;
    height: 750px;
    margin-top: 150px;
    margin-bottom: 150px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-top: 30px;
}

.text {
    color: #121149;
    font-size: 3rem;
    font-weight: 700;
}

.underline {
    width: 60px;
    height: 6px;
    background-color: #121149;
    border-radius: 10px;
}

.inputs {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background-color: #eaeaea;
    border-radius: 6px;
}

.input img {
    margin: 0px 30px;
    opacity: 0.5;
    transition: 0.5s linear;
    cursor: pointer;
}

.input img:hover {
    opacity: 1;
}

.input input {
    font-family: "Raleway", sans-serif, serif;
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #1a1a1a;
    font-size: 1.25rem;
}

.forgot-password {
    padding-left: 62px;
    margin-top: 30px;
    color: #797979;
    font-size: 1.125rem;
    font-weight: 500;
}

.forgot-password span {
    color: #121149;
    cursor: pointer;
    transition: 0.5s linear;
}

.forgot-password span:hover {
    color: #121149a8;
}


.submit-container {
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 60px;
    color: #FFFFFF;
    background-color: #273B7A;
    border-radius: 50px;
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.5s linear;
}

.submit:hover {
    background-color: #273a7ac9;
}

.gray {
    background: #eaeaea;
    color: #676767;
    transition: background 0.5s linear;
}

.gray:hover {
    background: #cecece;
}

@media only screen and (max-width: 768px) {
    .container {
        width: 360px
    }

    .input {
        width: 300px;
    }

    .submit {
        width: 120px
    }
  }
  